@model projetoCuboMagico.Models.CartaoCredito

@{
    Layout = null;
}
<script>
    function tela() {
        var display = document.getElementById("telaEntrar").style.display;
        if (display == "none")
            document.getElementById("telaEntrar").style.display = 'block';
        else
            document.getElementById("telaEntrar").style.display = 'none';
    }
</script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<html>
<head>
    <meta charset="UTF-8" />
    <title>Cadastro Cubo Mágico</title>
    @Styles.Render("~/Content/css")
    <link rel="shortcut icon" href="~/Content/_imagens/icon_logo.ico">

</head>
<body id="index">
    <header id="header">
        <div id="borda"></div>
        <div id="cabecalho">
            <img id="imgBack" src="_imagens/cube.png" />
            <p class="p"><span id="spanCubo">CUBO</span><br />&nbsp; <span id="spanMagico">MAGICO</span></p>
            <div id="navBack" class="fixed">  </div>
            <nav id="menu_index" class="fixed">
                <ul id="navUl">
                    <li class="navLi" onclick="tela()">Assinaturas</li>
                    <li class="navLi" onclick="tela()">Meu Cubo</li>
                    <li class="navLi" onclick="tela()">Novo!</li>
                </ul>
            </nav>
        </div>
        <div id="borda"></div>
    </header>

    <article id="meioco">
        <img id="caixa" src="_imagens/caixaIndex.jpg" />
        <img id="selo" src="_imagens/cube.png" />

        <div id="carouselIndex" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="_imagens/imgMeioco.png" class="img-fluid d-block" />
                </div>
                <div class="carousel-item">
                    <img src="_imagens/imgMeioco2.jpeg" class="img-fluid d-block" />
                </div>
            </div>
        </div>

        <section id="sectionIndex">
            <div id="sectionText1">
                Assine conosco e venha fazer parte da Cubo Magico!<br /><br />&nbsp;&nbsp;<a href="cadastro_cubo.html">Cadastre-se aqui</a><br />
                Informações logo abaixo
            </div>
        </section>

        <aside id="lateral_left">
            <div id="barLeft1"></div><div id="barLeft2"></div><div id="barLeft3"></div>
            <a href="sobre_cubo.html" class="a"><div id="sobre">Sobre</div></a> <a href="ajuda_cubo.html" class="a"><div id="ajuda">Ajuda</div></a>
            <div id="lateral_infoEntrar">
                <div id="lateral_topo">
                    <div id="foto">
                        <img id="perfil_vetor" src="_imagens/perfil_vetor.png" />
                    </div>
                    <a id="LPerfil" href="perfil_cubo.html">Perfil</a>
                    <a id="LSair" href="login_cubo.html">Sair</a>
                </div>

            </div>
        </aside>
        <div id="anuncio"></div>
        <div id="barraAnun"></div>
        <span id="textAnun"><marquee behavior="alternate" scrolldelay="1000">Descubra novidades!</marquee></span>
        <div id="barraTime">
            <marquee scrolldelay="800"><div id="timer"></div></marquee>
        </div>
    </article>

    <div id="telaEntrar">
        <img class="close" src="~/Content/_imagens/fecharIcon.png" onclick="tela()" />
        comece seu cadastro agora e navegue pelo site<br />
        <a id="inicioLink" href="cadastro_cubo.html">Cadastre-se Aqui</a>
    </div>

    <div id="borda"></div>
    <div id="infoInicial"></div>
    <div id="bordaEntrar"></div>
</body>
</html>
}

