@{
    ViewBag.Title = "Home Page";
}

<article id="meioco">
    <img id="selo" src="~/Content/_imagens/cube_editado.png" />
</article>

<aside id="lateral_left">
    <div id="lateral_topo">
        <div id="foto">
            <img id="perfil_vetor" src="_imagens/Perfil_vetor.png" />
        </div>
        @Html.ActionLink("Perfil", "", "")
    </div>
</aside>