
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <title>Seja bem vindo!</title>
    <link rel="shortcut icon" href="~/Content/_imagens/icon_logo.ico">
    @Styles.Render("~/Content/css")
    <!-- BOOTSTRAP -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="_programas/node_modules/bootstrap/compiler/bootstrap.css">
</head>
<body id="index">
    <img id="logoBackground" src="~/Content/_imagens/cube.png" />
    <div id="luzBack">
        <div id="back1"></div>
        <div id="back2"></div>
        <div id="back3"></div>
        <div id="back4"></div>
    </div>
    <div id="luzVer">
        <div id="v1"></div>
        <div id="v2"></div>
        <div id="v3"></div>
    </div>
    <div id="luzHor">
        <div id="h1"></div>
        <div id="h2"></div>
        <div id="h3"></div>
    </div>
    <div id="quadro1">
        <img class="quadro" src="~/Content/_imagens/cadastrar.png" />
        <label class="leg">Cadastrar</label>
    </div>
    <div id="quadro2">
        <img class="quadro" src="~/Content/_imagens/alterar.png" />
        <label class="leg">Alterar</label>
    </div>
    <div id="quadro3">
        <img class="quadro" src="~/Content/_imagens/gerar.png" />
        <label class="leg">Excluir</label>
    </div>
    <div id="quadro4">
        <img class="quadro" src="~/Content/_imagens/excluir.png" />
        <label class="leg">Gerador</label>
    </div>
    <div id="quadro5">
        <img class="quadro" src="" />
        <label class="leg">-- -- --</label>
    </div>
    <div id="borders">
        <div id="b1"></div>
        <div id="b2"></div>
        <div id="b3"></div>
        <div id="b4"></div>
        <div id="b5"></div>
        <div id="b6"></div>
        <div id="b7"></div>
    </div>

    <a href="#"><img id="back" src="_imagens/back_vetor.png" /></a>
    <!-- JAVA SCRIPT -->
    <script src="_programas/node_modules/jquery/dist/jquery.js"></script>
    <script src="_programas/node_modules/popper.js/dist/umd/popper.js"></script>
    <script src="_programas/node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
