@charset "UTF-8";
/* FONTES */
@font-face {
    font-family: cone;
    src: url('_fontes/cone.ttf');
}

/* KEY FRAMES */
@keyframes myanimation {
    0% {
        background-color: #2EFEF7;
    }

    20% {
        background-color: #40FF00;
    }

    40% {
        background-color: #F7FE2E;
    }

    60% {
        background-color: #FE9A2E;
    }

    80% {
        background-color: #F78181;
    }

    100% {
        background-color: #2EFEF7;
    }
}

@keyframes luzVer {
}

@keyframes luzHor {
}

@keyframes luzBack {
}

/* TELA INDEX */
#index {
    animation: myanimation 50s infinite;
}

#logoBackground {
    position: absolute;
    top: 280px;
    left: 375px;
}

#luzBack {
    position: absolute;
    top: 40px;
    right: 0px;
    width: 368px;
    height: 180px;
    background-color: transparent;
}

#back1 {
    position: absolute;
    top: 35px;
    right: 0px;
    width: 240px;
    height: 4px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ffffff;
}

#back2 {
    position: absolute;
    top: 55px;
    right: 0px;
    width: 180px;
    height: 4px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ffffff;
}

#back3 {
    position: absolute;
    top: 90px;
    right: 0px;
    width: 60px;
    height: 4px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ffffff;
}

#back4 {
    position: absolute;
    top: 100px;
    right: 0px;
    width: 40px;
    height: 4px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #ffffff;
}


#luzHor {
    position: absolute;
    top: 260px;
    left: 0px;
    width: 368px;
    height: 210px;
    background-color: transparent;
}

#h1 {
    position: absolute;
    top: 160px;
    width: 370px;
    height: 4px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FF0000;
}

#h2 {
    position: absolute;
    top: 140px;
    width: 310px;
    height: 4px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FF0000;
}

#h3 {
    position: absolute;
    top: 120px;
    width: 250px;
    height: 4px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FF0000;
}

#luzVer {
    position: absolute;
    top: 0px;
    left: 400px;
    width: 164px;
    height: 260px;
    background-color: transparent;
}

#v1 {
    position: absolute;
    left: 50px;
    width: 4px;
    height: 280px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0404B4;
    box-shadow: 0px 0px 0px transparent;
}

#v2 {
    position: absolute;
    left: 70px;
    width: 4px;
    height: 220px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 2px #ffffff;
    background-color: #0404B4;
    box-shadow: 0px 0px 0px transparent;
}

#v3 {
    position: relative;
    left: 90px;
    width: 4px;
    height: 160px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 2px #ffffff;
    background-color: #0404B4;
    box-shadow: 0px 0px 0px transparent;
}

#quadro1 {
    position: absolute;
    top: 60px;
    left: 60px;
    width: 340px;
    height: 242px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0px 0px 6px 2px #000000;
    transition: .5s;
}


#quadro2 {
    position: absolute;
    top: 360px;
    left: 55px;
    width: 390px;
    height: 200px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0px 0px 6px 2px #000000;
    transition: .5s;
}

#quadro3 {
    position: absolute;
    top: 60px;
    left: 580px;
    width: 454px;
    height: 280px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0px 0px 6px 2px #000000;
    transition: .5s;
}

#quadro4 {
    position: absolute;
    top: 385px;
    left: 580px;
    width: 360px;
    height: 180px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0px 0px 6px 2px #000000;
    transition: .5s;
}

#quadro5 {
    position: absolute;
    top: 385px;
    left: 984px;
    width: 200px;
    height: 145px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0px 0px 6px 2px #000000;
    transition: .5s;
}

    #quadro1:hover, #quadro2:hover, #quadro3:hover, #quadro4:hover, #quadro5:hover {
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
        border-top-right-radius: 2px;
        border-top-left-radius: 2px;
        background-color: rgba(255,255,255,.8);
        box-shadow: 0px 0px 6px 4px #000000;
        -webkit-transform: scale(1.1);
    }

.quadro {
    position: absolute;
    left: 120px;
    margin-top: 30px;
}

#quadro3 .quadro {
    top: 40px;
    left: 160px;
}

.label {
    font-family: cone;
    font-size: 30pt;
}

#quadro1 .label {
}

#b1 {
    position: absolute;
    top: -20px;
    width: 406px;
    height: 40px;
    background-color: rgba(0,0,0,.8);
    border-bottom-right-radius: 20px;
}

#b2 {
    position: absolute;
    top: 60px;
    left: -20px;
    width: 40px;
    height: 245px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(0,0,0,.8);
}

#b3 {
    position: absolute;
    top: 500px;
    left: -20px;
    width: 40px;
    height: 126px;
    border-top-right-radius: 20px;
    background-color: rgba(0,0,0,.8);
}

#b4 {
    position: absolute;
    top: -20px;
    left: 1105px;
    width: 244px;
    height: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(0,0,0,.8);
}

#b5 {
    position: absolute;
    top: 180px;
    right: 0px;
    width: 20px;
    height: 206px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(0,0,0,.8);
}

#b6 {
    position: absolute;
    top: -20px;
    left: 603px;
    width: 466px;
    height: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(0,0,0,.8);
}

#b7 {
    position: absolute;
    top: 528px;
    right: 0px;
    width: 20px;
    height: 98px;
    border-top-left-radius: 20px;
    background-color: rgba(0,0,0,.8);
}

#back {
    position: absolute;
    top: 40px;
    right: 60px;
}

    #back:hover {
        -webkit-transform: scale(1.1);
    }
