@charset "UTF-8";

/* FONTES */
@font-face {
    font-family: hallo;
    src: url('/fonts/hallo-sans-light.otf');
}

@font-face {
    font-family: players;
    src: url('/fonts/Players.ttf');
}

@font-face {
    font-family: teachers;
    src: url('/fonts/TeachersStudent-Regular.ttf')
}

@font-face {
    font-family: loveh;
    src: url('/fonts/loveHearts.otf');
}

/* kEY FRAMES */
@keyframes myanimation {
    0% {
        background-color: #0000FF;
    }

    20% {
        background-color: #01DF01;
    }

    40% {
        background-color: #FFBF00;
    }

    60% {
        background-color: #FF4000;
    }

    80% {
        background-color: #DF0101;
    }

    100% {
        background-color: #0000FF;
    }
}

@keyframes navIndex {
    0% {
        background-color: #5858FA;
    }

    20% {
        background-color: #58FA58;
    }

    40% {
        background-color: #F4FA58;
    }

    60% {
        background-color: #FA8258;
    }

    80% {
        background-color: #FA5858;
    }

    100% {
        background-color: #5858FA;
    }
}


/* TELA > LOGIN */

#interface_login {
    margin-top: -30px;
    padding: 10px;
    background-color: #2E2E2E;
}

#icon {
    max-width: 100%;
    position: relative;
    top: 40px;
    right: -30px;
    transition: .5s;
}

#circulo {
    max-width: 100%;
    border-radius: 35%;
    behavior: url(PIE.htc);
    position: absolute;
    top: 20px;
    left: 30px;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    box-shadow: -5px 2px 11px 4px #000000;
    animation: myanimation 30s infinite;
}

#icon:active {
    right: -10px;
}


#entrar {
    background-color: #ffffff;
    box-shadow: 2px 2px 8px 3px #000000;
    width: 450px;
    height: 540px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-top-left-radius: 3px;
    position: relative;
    padding: 20px 20px 0px 20px;
    margin-top: -10px;
    margin-bottom: 10px;
    left: 430px;
    animation: myanimation 30s infinite;
}

#entrar2 {
    background-color: #ffffff;
    box-shadow: 2px 2px 8px 3px #000000;
    width: 450px;
    height: 540px;
    -webkit-border-bottom-left-radius: 20px;
    -webkit-border-top-left-radius: 8px;
    position: absolute;
    padding: 20px 20px 0px 20px;
    margin-top: -10px;
    margin-bottom: 10px;
    left: 430px;
    animation: myanimation 30s infinite;
}

#entrar3 {
    background-color: #ffffff;
    box-shadow: 2px 2px 8px 3px #000000;
    width: 456px;
    height: 540px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    position: absolute;
    padding: 20px 20px 0px 20px;
    margin-top: -10px;
    margin-bottom: 10px;
    left: 454px;
    animation: myanimation 30s infinite;
}

#entrar4 {
    background-color: #ffffff;
    box-shadow: 20px 2px 16px 3px #ffffff;
    width: 450px;
    height: 522px;
    -webkit-border-bottom-left-radius: 20px;
    -webkit-border-top-left-radius: 10px;
    position: absolute;
    padding: 20px 20px 0px 20px;
    margin-top: 0px;
    left: 430px;
    animation: myanimation 30s infinite;
}

#entrar #selo_entrar {
    max-width: 100%;
    position: relative;
    left: 110px;
    margin-top: 5px;
}

#entrar #formEntrar {
    position: relative;
    left: 112.5px;
    margin-top: 10px;
}

#entrar #titleLogin {
    font-family: players;
    font-weight: 500;
    position: relative;
    left: 14px;
    margin-bottom: 2px;
}

#entrar .input {
    width: 250px;
    height: 35px;
    margin-top: 5px;
    margin-left: -22px;
    border: 2px solid #000000;
    font-family: hallo;
}

.input:focus, .select:focus {
    outline-width: 0;
}


#entrar #txtName {
    padding-left: 5px;
    box-shadow: -4px 2px 0px 2px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
}

#entrar #txtSenha {
    padding-left: 5px;
    margin-top: 25px;
    box-shadow: -4px 2px 0px 2px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
}

#entrar .btn {
    background-color: rgba(255,255,255,.4);
    background-image: linear-gradient(to bottom, rgba(255,255,255,.1), rgba(255,255,255,.4) 49%, rgba(255,255,255,0) 50%, rgba(255,255,255,.4));
    box-shadow: 1px 1px 15px -1px #ffffff;
    width: 130px;
    height: 30px;
    padding-top: 0px;
    text-align: center;
    vertical-align: top;
    margin-top: 30px;
    position: relative;
    left: 50px;
    transition: .3;
}

    #entrar .btn:hover {
        box-shadow: 0px 0px 15px 2px #ffffff;
        -webkit-transform: scale(1.1);
    }

#entrar #registro {
    font-size: 13pt;
    text-decoration: none;
    position: relative;
    left: 41px;
    margin-top: 12px;
    color: #2e2e2e;
}

#entrar #linkCadastro {
    text-decoration: none;
    color: #ffffff;
    text-align: justify;
}

#entrar #esqSenha {
    font-size: 12pt;
    text-decoration: none;
    position: relative;
    left: 22px;
    margin-top: -8px;
    color: 2e2e2e;
}

#recSenha {
    color: #2e2e2e;
}

    #linkCadastro:hover, #entrar #registro:hover, #recSenha:hover {
        color: #ffffff;
        text-decoration: underline;
    }

/* RODAPÉ */

#rodape {
    display: none;
    clear: both;
    border-top: 1px solid #585858;
    padding: 10px;
}

    #rodape #p {
        text-align: center;
        margin: 20px;
    }

    #rodape #social {
        text-decoration: none;
        color: #000000;
    }

        #rodape #social:hover {
            text-decoration: underline;
            color: #0174DF;
        }








/* TELA CADASTRO */
.linha1 {
    position: absolute;
    top: 118px;
    left: 10px;
    width: 400px;
    height: 1px;
    background-color: #d3d3d3;
}

.linha2 {
    position: absolute;
    top: 146px;
    left: 10px;
    width: 400px;
    height: 1px;
    background-color: #d3d3d3;
}

.linha3 {
    position: absolute;
    top: 166px;
    left: 10px;
    width: 400px;
    height: 1px;
    background-color: #d3d3d3;
}

#cadastro {
    background-color: #2E2E2E;
}

#barra_ind1 {
    position: absolute;
    top: 10px;
    left: 350px;
    margin: 10px 0px;
    width: 380px;
    height: 20px;
    background-color: #A4A4A4;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#barra_ind2 {
    position: absolute;
    top: 10px;
    right: 330px;
    margin: 10px 0px;
    width: 380px;
    height: 20px;
    background-color: #A4A4A4;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#circulo_ind1 {
    position: absolute;
    top: 5px;
    left: 350px;
    border-radius: 80%;
    behavior: url(PIE.htc);
    width: 50px;
    height: 50px;
    background-color: #A4A4A4;
}

.ind {
    position: relative;
    top: 8px;
    left: 10px;
}

#circulo_ind2 {
    position: absolute;
    top: 5px;
    left: 656px;
    border-radius: 80%;
    behavior: url(PIE.htc);
    width: 50px;
    height: 50px;
    background-color: #A4A4A4;
}

#circulo_ind3 {
    position: absolute;
    top: 5px;
    right: 350px;
    border-radius: 80%;
    behavior: url(PIE.htc);
    width: 50px;
    height: 50px;
    background-color: #A4A4A4;
}

#circulo_ind4 {
    position: absolute;
    top: 5px;
    right: 260px;
    border-radius: 80%;
    behavior: url(PIE.htc);
    width: 50px;
    height: 50px;
    background-color: #A4A4A4;
}

.ind_ativo {
    animation: myanimation .6s infinite;
}

.linkE:hover {
    -webkit-transform: scale(1.1);
}

#livro {
    position: relative;
    top: 64px;
    margin: 0px auto;
    width: 1000px;
    height: 500px;
    background-color: transparent;
    border: none;
}

#livro_left {
    position: relative;
    width: 490px;
    height: 500px;
    padding: 10px 0px 10px 20px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    border: 2px solid #000000;
    border-right: none;
    box-shadow: -2px 2px 8px 3px #000000;
    animation: myanimation 150s infinite;
}

    #livro_left .folha_left {
        position: relative;
        margin-right: -2px;
        padding: 5px 8px;
        height: 474px;
        -webkit-border-bottom-right-radius: 6px;
        -webkit-border-top-right-radius: 6px;
        background-color: #ffffff;
        box-shadow: 0px 0px 4px 2px #ffffff;
        font-family: teachers;
    }

    #livro_left .TLivro {
        font-family: teachers;
        font-size: 40pt;
        margin-bottom: -30px;
    }

#livro .label {
    margin-left: 8px;
    font-size: 20pt;
}

#livro_left .input {
    position: relative;
    margin: 5px 0px 0px 4px;
    padding: 4px;
    width: 160px;
    font-size: 15pt;
    font-family: teachers;
}

#date {
    margin-left: 12px;
}

#imgLivro1 {
    position: absolute;
    top: 230px;
    left: -30px;
    transform: skewY(5deg);
}

#imgLivro2 {
    position: absolute;
    top: -10px;
    left: 360px;
    transform: skewY(-5deg);
}

#livro_centro {
    position: relative;
    top: -1000px;
    margin: 0px auto;
    width: 20px;
    height: 500px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px #000000;
    animation: myanimation 150s infinite;
}

#livro_right {
    position: relative;
    top: -500px;
    left: 510px;
    width: 490px;
    height: 500px;
    margin: 0px;
    padding: 10px 20px 10px 0px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border: 2px solid #000000;
    border-left: none;
    box-shadow: 2px 2px 8px 3px #000000;
    animation: myanimation 150s infinite;
}

    #livro_right .folha_right {
        position: relative;
        margin-left: -2px;
        padding: 80px 8px 5px 8px;
        height: 474px;
        -webkit-border-bottom-right-radius: 6px;
        -webkit-border-top-right-radius: 6px;
        background-color: #ffffff;
        box-shadow: 0px 0px 4px 2px #ffffff;
        font-family: teachers;
    }

    #livro_right .input {
        position: relative;
        margin: 5px 0px 0px 1px;
        padding: 4px;
    }

#livro select#pais {
    width: 160px;
    font-size: 15pt;
    font-family: teachers;
}

#livro #sexo, #livro #est, #livro #est .opt, #livro #est .optgroup {
    font-size: 12pt;
    font-family: sans-light;
}

.btnForm {
    position: absolute;
    top: 420px;
    left: 360px;
    background-color: transparent;
    padding: 4px;
    font-size: 20pt;
    transition: .8;
}

    .btnForm:hover {
        -webkit-transform: scale(1.1);
    }

.link_form {
    padding: 4px;
    background-color: transparent;
    font-size: 18pt;
    border: 1px solid #000000;
}




/* TELA CADASTRO2 */

#optG .input, #optG .label {
    margin: 0px -80px 0px 20px;
}

#optG .label {
    margin-top: -10px;
    font-size: 22pt;
}

.imgRight {
    margin: -120px auto 0px auto;
}

#bancoImg {
    display: none;
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 2s;
}



/* TELA CADASTRO3 */
#cadastro3 .input3 {
}

#cadastro3 #txtPropCartao {
    width: 200px;
}

#cadastro3 #valCartao {
    position: relative;
    left: 100px;
    width: 145px;
}

#cadastro3 #recFinal {
    position: relative;
    top: -40px;
    left: 10px;
    padding: 5px;
    font-size: 40pt;
}

#cadastro .e {
    position: relative;
    left: 20px;
    font-size: 60pt;
}

#imgLivro3 {
    position: absolute;
    top: 275px;
    left: -40px;
}

#imgLivro4 {
    position: absolute;
    top: 340px;
    left: -10px;
}


/* TELA CADASTRO4 */
#cadastro4 {
    animation: myanimation .6s infinite;
}

#quadroInfo {
    position: relative;
    margin: 10px auto 0px auto;
    width: 450px;
    height: 605px;
    background-color: #2e2e2e;
}

#quadroInd {
    position: absolute;
    top: 40px;
    left: 160px;
    width: 100px;
    height: 540px;
    background-color: #2e2e2e;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

#quad1 {
    position: absolute;
    top: 0px;
    left: 400px;
    width: 45px;
    height: 400px;
    background-color: #2e2e2e;
}

#quad2 {
    position: absolute;
    top: 0px;
    left: 623px;
    width: 285px;
    height: 10px;
    background-color: #2e2e2e;
}

#quad3 {
    position: absolute;
    top: 410px;
    left: 400px;
    width: 45px;
    height: 205px;
    background-color: #2e2e2e;
}

#quad4 {
    position: absolute;
    bottom: 0px;
    left: 800px;
    width: 420px;
    height: 20px;
    background-color: #2e2e2e;
}

#quad5 {
    position: absolute;
    bottom: 0px;
    left: 275px;
    width: 110px;
    height: 80px;
    background-color: #2e2e2e;
}

#quad6 {
    position: absolute;
    bottom: 95px;
    left: 275px;
    width: 110px;
    height: 420px;
    background-color: #2e2e2e;
}

#quad7 {
    position: absolute;
    top: 0px;
    left: 275px;
    width: 110px;
    height: 100px;
    background-color: #2e2e2e;
}

#cam1 {
    position: absolute;
    top: 70px;
    left: 150px;
    width: 30px;
    height: 8px;
    animation: myanimation .6s infinite;
}

#cam2 {
    position: absolute;
    top: 540px;
    left: 240px;
    width: 30px;
    height: 8px;
    animation: myanimation .6s infinite;
}

#cadastro4 #barra_ind1 {
    position: absolute;
    top: 70px;
    left: 200px;
    width: 20px;
    height: 380px;
    background-color: #A4A4A4;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#cadastro4 #barra_ind2 {
    position: absolute;
    top: 280px;
    left: 200px;
    width: 20px;
    height: 250px;
    background-color: #A4A4A4;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

#cadastro4 #circulo_ind1 {
    position: absolute;
    top: 60px;
    left: 170px;
    border-radius: 80%;
    behavior: url(PIE.htc);
    width: 50px;
    height: 50px;
    background-color: #A4A4A4;
}

#cadastro4 #circulo_ind2 {
    position: absolute;
    top: 210px;
    left: 200px;
    border-radius: 80%;
    behavior: url(PIE.htc);
    width: 50px;
    height: 50px;
    background-color: #A4A4A4;
}

#cadastro4 #circulo_ind3 {
    position: absolute;
    top: 360px;
    left: 200px;
    border-radius: 80%;
    behavior: url(PIE.htc);
    width: 50px;
    height: 50px;
    background-color: #A4A4A4;
}

#cadastro4 #circulo_ind4 {
    position: absolute;
    top: 510px;
    left: 200px;
    border-radius: 80%;
    behavior: url(PIE.htc);
    width: 50px;
    height: 50px;
    background-color: #A4A4A4;
}

#concluir {
    position: absolute;
    padding: 2px;
    width: 125px;
    height: 50px;
    top: 545px;
    left: 772px;
    background-color: transparent;
}

    #concluir:hover, #link4:hover {
        -webkit-transform: scale(1.1);
        text-decoration: none;
    }

#pronto {
    position: relative;
    top: -40px;
    left: 90px;
}

#cadastro4 #link4 #btn4 {
    position: relative;
    top: 0px;
    left: 0px;
    color: #ffffff;
    font-size: 25pt;
    font-family: hallo;
}





/* TELA INDEX */
#index {
    animation: myanimation 50s infinite;
}

#borda {
    position: relative;
    height: 20px;
    background-color: rgba(0,0,0,.4);
    box-shadow: 0px 0px 4px 1px #ffffff;
}

#cabecalho {
    position: relative;
    height: 120px;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.1), rgba(255,255,255,.4) 49%, rgba(255,255,255,0) 50%, rgba(255,255,255,.4));
    background-attachment: fixed;
    background-size: cover;
}

    #cabecalho #imgBack {
        position: absolute;
    }

    #cabecalho .p {
        position: absolute;
        left: 10px;
        font-family: players;
    }

    #cabecalho #spanCubo {
        position: relative;
        top: -20px;
        left: 20px;
        font-size: 80px;
    }

    #cabecalho #spanMagico {
        position: relative;
        top: -60px;
        left: 60px;
        font-size: 45px;
    }


#navUl {
    display: block;
    position: relative;
    top: 50px;
    left: 885px;
    width: 480px;
    height: 50px;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    box-shadow: 0px 0px 12px #000000;
    animation: navIndex 50s infinite;
}

.navLi {
    display: inline-block;
    position: relative;
    top: 1px;
    margin: 5px 18px 5px 14px;
    padding: 8px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 2px -2px 2px 2px #848484;
    background-color: #BDBDBD;
}

.navLink {
    color: #000000;
}

    .navLink:hover {
        color: #ffffff;
    }

.navLi:active {
    position: relative;
    top: 0px;
    border: 2px solid #A4A4A4;
    box-shadow: none;
}



#interface_index {
    position: relative;
    height: 50px;
    background-color: #2E2E2E;
}

#selo {
    position: relative;
    top: 155px;
    left: 900px;
}

#carouselIndex {
    display: none;
    position: absolute;
    top: 20px;
    left: 255px;
}

#meioco {
    position: relative;
    left: -365px;
    margin-top: 0px;
    width: 1450px;
    height: 466px;
    background-color: #2E2E2E;
}

#lateral_left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 140px;
    height: 466px;
    background-color: #000000;
}

#lateral_info {
    position: absolute;
    float: left;
    top: 40px;
    left: 40px;
    width: 20px;
    height: 200px;
    background-color: rgba(255,255,255,.2);
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    box-shadow: 0px 0px 6px 4px #ffffff;
    transition: .8s;
}

    #lateral_info:hover {
        width: 140px;
        height: 466px;
        top: 0px;
        left: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

#lateral_infoOpen {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 140px;
    height: 466px;
    background-color: rgba(110,110,110,.3);
}


/*#lateral_left{
	
	position: absolute;
	float: left;
	top: 2px;
	left: -280px;
	width: 300px;
	height: 466px;
	background-color: rgba(255,255,255,.2);
	border-top-right-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: 0px 4px 2px 6px #ffffff;
	transition: .6s;
}
#lateral_left:hover{
	position: absolute;
	left: -20px;
}

#lateral_left #lateral_topo{
	position: relative;
	left: 19px;
	width: 282px;
	height: 150px;
	border-top-right-radius: 10px;
	border-top-right-radius: 10px;
	border: 1px solid #ffffff;
}

#lateral_topo #foto{
	position: relative;
	top: 20px;
	left: 80px;
	width: 80px;
	height: 80px;
	background-color: #ffffff;
	border-radius: 80%;
    behavior: url(PIE.htc);
}

#foto #perfil_vetor{
	position: absolute;
	left: 7px;
}

#lateral_topo #LPerfil{
	position: relative;
	top: 35px;
	left: 100px;
	margin: 4px;
	font-size: 16pt;
	font-family: hallo;
	color: #000000;
	text-decoration: none;
}
#lateral_left #LPerfil:hover{
	color: #ffffff;
	text-decoration: underline;
}*/
